<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/blog.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
    {% include common/gtm-head.html %}
    {% endif %}
    <!-- CSS for comments, start -->
    <style>
        .comments {
            margin: auto;
            /* background-color: rgba(244, 156, 68, 0.169); */
            width: 90%;
        }

        .comments_block {
            margin: auto;
            background-color: rgba(244, 156, 68, 0.082);
            width: 90%;
        }
    </style>
    <!-- my adding ends here -->
</head>

<body>
    {% if site.google_tag_manager %}
    {% include common/gtm-body.html %}
    {% endif %}

    {% include common/notices.html %}
    {% include blog/overlay.html %}

    <div id="page" class="hentry">
        {% include blog/header.html %}

        <div class="body animated fadeInDown" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <!-- my adding starts -->
        <div class="comments_block">
            <div class="comments">
                <link rel="stylesheet" href="//unpkg.com/gitalk/dist/gitalk.css">
                <script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script>
                <div id="gitalk-container"></div>
                <script>
                    var gitalk = new Gitalk({
                        clientID: 'c5997a4ef68d75e658c7',
                        clientSecret: '77b8fd83267599e9f0eae497ba480d50764142c0',
                        repo: 'blog-comments',
                        owner: 'AuthurWhywait',
                        admin: ['AuthurWhywait'],
                        // title: location.hash.match(/#(.*?)([?]|$)/)[1],
                        // id: location.hash.match(/#(.*?)([?]|$)/)[1],
                        id: decodeURI(window.location.pathname),
                    });
                    // 监听URL中hash的变化，如果发现换了一个MD文件，那么刷新页面，解决整个网站使用一个gitalk评论issues的问题。
                    // window.onhashchange = function (event) {
                    //     if (event.newURL.split('?')[0] !== event.oldURL.split('?')[0]) {
                    //         location.reload()
                    //     }
                    // }
                    gitalk.render('gitalk-container');
                </script>
            </div>
        </div>
        <!-- my adding ends -->
        {% include blog/footer.html %}
    </div>

    {% include blog/scripts.html %}
</body>

</html>