---
layout: blog
---
<article class="unit-article layout-post">
    <div class="unit-inner unit-article-inner">
        <div itemscope itemtype="http://schema.org/Article" class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner unit-head-inner">
                        <h1 class="entry-title" itemprop="name">{{ page.title }}</h1>
                    </div>
                </div>
                <!-- adding codes: support latex formula -->
                <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
                    type="text/javascript"></script>
                <script type="text/x-mathjax-config">
                    MathJax.Hub.Config({
                        tex2jax: {
                        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                        inlineMath: [['$','$']]
                        }
                    });
                </script>
                <!-- for image explanation -->
                <style>
                    ie {
                        width: 300px;
                        /* background-color: gray; */
                        background-color: #ffe599;
                        text-align: left;
                        /* margin-left: 50px; */
                        /* margin-right:50px; */
                    }
                </style>
                <!-- auto number title -->
                <link rel="stylesheet" type="text/css"
                    href="{{ site.baseurl }}/assets/stylesheets/auto_number_title.css" />
                <!-- adding codes end here -->
            </header>
            <div class="bd article-content">
                <div class="entry-content">
                    <div class="meta">
                        <p class="date-publish">
                            {{ site.data.i18n[site.lang].published }}:
                            <time itemprop="datePublished"
                                class="date-pub {% if page.last_updated == null %}updated{% endif %}"
                                title="{{ page.date | date_to_xmlschema }}"
                                datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B' }} {{ page.date
                                | date: '%d' }}, {{ page.date | date: '%Y' }} </time>
                            by
                            <a class="author" href="/" rel="author" title="{{ site.data.i18n[site.lang].show_author }}">
                                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                    <span itemprop="name">{% if page.author == null %}{{ site.author.name }}{% else %}{{
                                        page.author }}{% endif %}</span>
                                </span>
                            </a>
                            {% if site.blog.cc_license and site.blog.cc_license_image %}
                            <a class="license-icon" rel="license" href="{{ site.blog.cc_license }}" target="_blank"
                                title="{{ site.data.i18n[site.lang].show_license }}">
                                <img alt="Creative Commons Licence" style="border-width:0"
                                    src="{{ site.blog.cc_license_image | relative_url }}" height="16" width="80" />
                            </a>
                            {% endif %}
                            {% if page.last_updated %}
                            ({{ site.data.i18n[site.lang].last_updated}}:
                            <time class="date-updated updated" title="{{ page.last_updated | date_to_xmlschema }}"
                                datetime="{{ page.last_updated | date_to_xmlschema }}">{{ page.last_updated }}</time>)
                            {% endif %}
                        </p>
                        <ul class="list-category list-linear">
                            <li class="list-head">{{ site.data.i18n[site.lang].categories }}: </li>
                            {% assign categories_list = page.categories | sort %} {% include helpers/categories_list %}
                        </ul>
                        <ul class="list-tag list-linear">
                            <li class="list-head">{{ site.data.i18n[site.lang].tags }}: </li>
                            {% assign tags_list = page.tags | sort %} {% include helpers/tags_list %}
                        </ul>
                    </div>
                    <div itemprop="articleBody">
                        {{ content }}
                    </div>
                </div>
            </div>
            <footer class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <div class="post-buttons">
                        <a class="internal gotop" href="#page" title="{{ site.data.i18n[site.lang].back_to_top }}">{{
                            site.data.i18n[site.lang].back_to_top }}</a>
                        {% if site.addthis_public_id %}
                        {% include common/addthis.html %}
                        {% endif %}
                    </div>
                    <nav class="pagination">
                        {% if page.previous %}
                        <a class="internal" rel="prev" href="{{ page.previous.url | relative_url }}"
                            title="{{ site.data.i18n[site.lang].previous_post }} '{{ page.previous.title }}'"> ← {{
                            page.previous.title }}</a>
                        {% endif %}
                        {% if page.next %}
                        <a class="internal" rel="next" href="{{ page.next.url | relative_url }}"
                            title="{{ site.data.i18n[site.lang].next_post }} '{{ page.next.title }}'">{{ page.next.title
                            }} → </a>
                        {% endif %}
                    </nav>
                </div>
            </footer>
            <div class="misc-content">
                {% if site.disqus.shortname and page.comments != false %}
                {% include common/disqus.html %}
                <div class="comments">
                    <button class="center-block show-hidden" title="{{ site.data.i18n[site.lang].show_comments }}"
                        data-disqus-url="{{ page.url | absolute_url }}">{{ site.data.i18n[site.lang].show_comments
                        }}</button>
                    <div id="disqus_thread"></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>



<!-- <link rel="stylesheet" href="//cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css">
<script src="//cdn.bootcss.com/gitalk/1.5.0/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>
    var gitalk = new Gitalk({
        clientID: 'c5997a4ef68d75e658c7', // GitHub Application Client ID
        clientSecret: '77b8fd83267599e9f0eae497ba480d50764142c0', // GitHub Application Client Secret
        repo: 'blog-comments',      // 存放评论的仓库
        owner: 'AuthurWhywait',          // 仓库的创建者，
        admin: ['AuthurWhywait'],        // 如果仓库有多个人可以操作，那么在这里以数组形式写出
        id: location.pathname,      // 用于标记评论是哪个页面的，确保唯一，并且长度小于50
    })

    gitalk.render('gitalk-container');    // 渲染Gitalk评论组件
</script> -->

<!-- <link rel="stylesheet" href="//unpkg.com/gitalk/dist/gitalk.css">
<script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script> -->

<!-- <script src="//unpkg.com/docsify/lib/plugins/gitalk.min.js"></script> -->
<!-- <div id="gitalk-container"></div>
<script>
    var gitalk = new Gitalk({
        clientID: 'c5997a4ef68d75e658c7',
        clientSecret: '77b8fd83267599e9f0eae497ba480d50764142c0',
        repo: 'blog-comments',
        owner: 'AuthurWhywait',
        admin: ['AuthurWhywait'],
        title: location.hash.match(/#(.*?)([?]|$)/)[1],
        id: location.hash.match(/#(.*?)([?]|$)/)[1],
    })
    // 监听URL中hash的变化，如果发现换了一个MD文件，那么刷新页面，解决整个网站使用一个gitalk评论issues的问题。
    window.onhashchange = function (event) {
        if (event.newURL.split('?')[0] !== event.oldURL.split('?')[0]) {
            location.reload()
        }
    }

    gitalk.render('gitalk-container')
</script> -->